@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&family=Roboto&family=Work+Sans:wght@400;500;700&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none !important;
}

body {
    overflow-x: hidden !important;
    /* max-width: 1920px;
    margin: 0 auto; */
}

:root {
    /* color variabel */
    --primary-color: #5a6e79;
    --btn-color: #ffc480;
    --secondry-color: #252c3a;
    --dark-color: #002240;
    --light-color: #ffffff;
    /* heading fonts */
    --heading-font-size: 40px;
    --heading-line-height: 56px;
    --body-font-size: 18px;
    --body-line-height: 26px;
    /* font familly */
    --common-font: 'Work Sans', sans-serif;
    --font-Montserrat: 'Montserrat', sans-serif;
    --footer-font-Roboto: 'Roboto', sans-serif;
}

a:hover {
    text-decoration: none;
}

ul,
ol {
    vertical-align: middle;
}


/* naver start */

.navbar {
    position: fixed;
    width: 100%;
    z-index: 999;
    top: 0;
    text-align: center;
    color: var(--primary-color);
}

.navbar-light .navbar-nav .nav-link {
    color: var(--primary-color);
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
    color: #ffffff;
}

img.logo {
    max-width: 48px;
}

.bg {
    color: var(--light-color);
    background: #252c3a;
    animation: fix 1s;
}

@keyframes fix {
    from {
        top: -50px;
    }
    to {
        top: 0px;
    }
}

button.btn {
    border: none;
}

.btn.link.btn-primary {
    padding: 8px 22px;
    color: var(--btn-color);
    background: var(--light-color);
    box-shadow: 1px 1px 2px #ddd;
    transition: all linear .3s;
}

.btn.link.btn-primary:hover {
    color: var(--light-color);
    background: var(--btn-color)
}

.navbar-nav .nav-link:hover {
    color: #ffc178 !important;
}

.navbar-nav .nav-link {
    font-size: 16px;
    color: var(--primary-color);
    font-weight: 600;
    text-transform: capitalize;
    margin: 0 22px;
}

.navbar-collapse {
    align-items: center;
    width: 100%;
    background: var(--secondry-color)
}

.collapse:not(.show) {
    display: none;
    background: none;
}


/* navbar end */


/* hero */

.hero {
    background: url(../images/hero-bg.png) center no-repeat;
    background-size: cover;
    height: 100vh;
    position: relative;
    z-index: 1;
    width: 100%;
}

.hero-text {
    padding-top: 10%;
}

.hero-text h2 {
    color: var(--btn-color);
    font-family: var(--heading-font-familly);
    font-size: var(--heading-font-size);
    font-weight: 700;
    line-height: var(--heading-line-height)
}

.hero-text p {
    color: var(--primary-color);
    font-weight: 400;
    font-size: 18px;
}

.btn.btn-primary {
    color: var(--light-color);
    background: var(--btn-color);
    border-color: var(--btn-color);
    border-radius: 50px;
    padding: 15px 24px;
    font-family: var(--font-Montserrat);
    font-weight: 400;
    transition: .4s;
}

.btn.btn-primary:hover {
    color: var(--btn-color);
    background: var(--light-color);
}


/* course */

.course {
    position: relative;
    z-index: 1;
    padding-bottom: 91px;
}

.course::after {
    position: absolute;
    content: "";
    top: -21px;
    right: 0;
    width: 100%;
    background: url(../images/about-uni-bg.png);
    height: 100%;
    background-position: right center;
    background-repeat: no-repeat;
    background-size: contain;
    z-index: -1;
    /* margin-right: -88px; */
}

.course:last-child .course-heading {
    padding-bottom: 65px;
}

.course-item {
    padding: 20px 0;
}

.course-item .card-title {
    color: #252c3a;
    font-size: 16px;
    font-weight: 500;
}

.course-item .card-text {
    font-size: 12px;
    font-weight: 400;
    color: #5a6e79f2;
}

p.card-text a {
    color: rgb(37 44 58);
    font-size: 14px;
    font-weight: 600;
}

.course-item .card-body {
    padding: 25px 15px;
}

.course-item:hover .card {
    transform: translateY(-10px);
}

.course-item .card {
    transition: .4s;
}

.course-heading h3 {
    font-size: var(--heading-font-size);
    margin-bottom: 30px;
    color: var(--primary-color);
}


/* copyright */

.copyrigth {
    background: #1d232e;
    padding: 25px 0 23px 0;
}

.copyrigth-text.flex {
    justify-content: space-between;
    color: #6b6b6b;
    font-size: 13px;
}

.social-link {
    padding-left: 0;
}

ul.copyright-link a {
    margin: 0 8px;
    text-transform: capitalize;
    font-size: 13px;
    color: #6b6b6b;
    font-weight: 400;
    font-family: "Roboto";
}


/* department  */

.depertment {
    padding-bottom: 50px;
}

.department-title h4 {
    font-size: 40px;
    text-transform: capitalize;
    font-weight: 700;
    color: #252c3a;
}

.department {
    margin-top: -59px;
    z-index: 99;
    position: relative;
}

.department-title p {
    font-size: 16px;
    font-weight: 400;
    color: var(--primary-color);
    margin-bottom: 60px;
}

.department-item img {
    max-width: 200px;
}

.department-item {
    text-align: center;
    padding: 25px 0;
    background: #f9703a;
    border-radius: 5px;
    margin: 10px 0;
    transition: .4s;
}

.department-item h5 {
    font-size: 25px;
    text-transform: uppercase;
}

.department-item:hover {
    transform: translateY(-5px);
}

.department-item.dep-bg1 {
    background: #80be41;
}

.department-item.dep-bg2 {
    background: #ffb258;
}

.department-item h5 {
    color: var(--light-color);
    margin: 50px;
}


/* about */

.about {
    padding: 110px 0;
    position: relative;
    z-index: 1;
}

.about::after {
    position: absolute;
    content: "";
    background: url(../images/video-bg-shape.png) no-repeat;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    background-size: contain;
    background-position: left center;
}

.about-txt h2 {
    font-size: 40px;
    margin-bottom: 38px;
}

.about-txt p {
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
}

p.about-details {
    margin-bottom: 55px;
}

.about-count h2 {
    font-size: 40px;
    margin-bottom: 0;
    font-weight: 700;
}

.about-count h2 span {
    font-size: 20px;
    font-weight: 100;
}

.about-count {
    color: #ffba00;
}

.about-counts.d-flex {
    justify-content: space-between;
}

.about-count:nth-child(2) {
    color: #ff5f72;
}

.about-count:nth-child(3) {
    color: #ffc178;
}


/* vedio */

.about-vedio {
    position: relative;
    z-index: 1;
}

.vedio-play {
    position: absolute;
    top: 50%;
    left: 55%;
    transform: translateY(-50%);
    color: #fff;
    width: 60px;
    height: 60px;
    background: #ffc178;
    line-height: 60px;
    text-align: center;
    border-radius: 50%;
    font-size: 25px;
}

.vedio-play i {
    margin-left: 5px;
    color: #ffffff;
}


/* vedio end */


/* footer */

.footer {
    background: #252c3a;
    padding: 80px 0 100px 0;
}

.footer-heading img {
    max-width: 180px;
    height: 40px;
}

.footer-heading h4 {
    color: #fff;
    padding-bottom: 25px;
    font-size: 14px;
    text-transform: uppercase;
}

.footer-heading span {
    color: #6b6b6b;
    margin-left: 15px;
    font-size: 12px;
}

.footer-subHeading {
    font-size: 14px;
    line-height: 22px;
    margin: 25px 0;
}

.footer-heading P {
    color: #969595;
}

.social-link {
    border-top: 1px solid #ddd;
    padding-top: 20px;
    justify-content: space-between;
    margin: 0;
}

.social-link li a {
    display: inline-block;
    margin: 5px;
    text-align: center;
    left: 0;
    color: #dedede;
    transition: .3s;
    font-size: 20px;
}

.social-link a:hover {
    color: rgb(0 137 253);
}

.footer-heading .input-group-text {
    background: #ffc178;
    border: none;
    color: #ffffff;
    font-size: 12px;
    text-transform: uppercase;
}

.copyrigth-text h3 {
    font-size: 16px;
}